body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
h1{
    font-size: 50px;
}
p{
    font-size: 18px;
}
.orange-color{
    color: orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left: 2%;;
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, orangered);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.link-button:hover {
    background-image: linear-gradient(orangered, orange)
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.experience-item{
    box-shadow: 10px 10px 30px gray;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    
}
#web-dev-experience{
    border-left:10px solid tomato;
}
#web-dev-beginner{
    border-left: 10px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}
#web-dev-beginner:hover{
    border-image: linear-gradient(cyan, blue);
    border-image-slice: 1;
}
h2{
    font-size: 40px;
}
footer p{
    text-align: center;
    color: gray;
}